.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}



/* my font size's media query start */
html {
    font-size: 62.5%;
}

@media (min-width:1200px) {
    html {
        font-size: 68.75%;
    }
}

@media (min-width:1000px) {
    html {
        font-size: 68.75%;
    }
}

@media (max-width:992px) {
    html {
        font-size: 62.5%;
    }
}

@media (max-width:768px) {
    html {
        font-size: 56.25%;
    }
}

@media (max-width:576px) {
    html {
        font-size: 50%;
    }

}

@media (max-width:350px) {
    .to-do-list {
        width: 33rem !important;
    }
}

/* my font size's media query end */




/* my stopwatch start */

html body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.stopwatch{
    background-color: black;
    border-radius: 1rem;
    box-shadow: .4rem .8rem 1rem rgba(255, 255, 255, 0.397);
}

.timer-value{
    color: white;
    font-size: 6rem;
    font-weight: 500;
}

.stopwatch-btn , .options{
    background-color: white;
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    margin: .3rem;
    width: 7rem;
}

#clear-time , #stopwatch-btn{
    width: 9rem;
}

#mili-sec{
    font-size: 3rem;
}

/* my stopwatch end */


.rough {
    border: .1rem solid rgb(255, 255, 255);
}